<div class="center-container">
  <div class="center-element">
    <h4>Welcome to SMessenger!</h4>

    <br>

    <p>Please sign in to view your messages.</p>

    <br>

    <div class="center-container">
      <%= button_to "sign in", new_sign_in_path, method: :get, class: 'btn btn-info center-element' %>
    </div>
  </div>
</div>