Welcome <%= current_user.username.capitalize %>! Click a conversation to view your messages.

<h1>Conversations</h1>

<div id="conversations">
  <ul>
    <% @conversations.each do |conversation| %>
      <li class="conversation">
        <%= conversation.user_list(current_user) %>
      </li>
    <% end %>
  </ul>
</div>